<div id="top">
    <div>
      See also the <a target="_blank" rel="noopener" href="http://eksphemeral.info/">docs</a> for more details.
    </div>
    <div id="menu">
      <button class="actionbtn" id="create">Create!</button>
    </div>
</div>
<div style="text-align:center">
  <h1>
    <span style="color:#ff9900;">EKS</span>phemeral
  </h1>
</div>
<div id="clusters">
<h2>Clusters</h2>
<ul>
  <li>
    <div>
      <a target="_blank" rel="noopener" href="https://console.aws.amazon.com/eks/home">mh9-eksp</a> <span class="ttl">42 min</span> <span class="details">Details …</span> 
    </div>
  </li>
</ul>
</div>

